doctype html
html
  head
    title Golu Dance Academy
    block scripts
    block style
  body
    <nav id="navbar">
        <ul>
            <div id="logo">
              <img src="/static/img/logo.png" alt="">
              
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Class Info</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    
    block content
    <footer id="footer">
      | Copyright © 2022 GoluDanceAcademy.com | All rights reserved
    </footer>
